@media (max-width: 768px) {
  .p-reg {
    font-size: 16px;
  }
  .h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .h2 {
    font-size: 26px;
    line-height: 30px;
  }
}
@media (max-width: 420px) {
  .h2 {
    font-size: 22px;
    line-height: 26px;
  }
}
@media (max-width: 1020px) {
  .header {
    align-items: flex-start;
  }
  .a__header {
    margin-right: 15px;
  }
  .a__header-link {
    margin-bottom: 15px;
  }
  .a__header-link:last-child {
    margin-bottom: 0;
  }
  .container__wraper-white {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .mobile-menu-show .logo-white {
    display: none;
  }
  .mobile-menu-show .logo-black {
    display: block;
  }
  .heder__trans {
    transform: translateY(-240px);
  }
  .header-bg {
    box-shadow: 0 0 20px gray;
    position: fixed;
  }
  .section__carousel .container .container__titel-text {
    align-items: flex-start;
  }
  .container__hrader-vh {
    height: 100vh;
  }
  .container__header-menu {
    display: flex;
    flex-direction: column;
  }
  .header__menu_hiden {
    display: none !important;
  }
  .container__button-hiden {
    display: block;
    height: 50px;
    display: flex;
    align-items: center;
  }
  .container-flex {
    flex-direction: column;
  }
  .container__logo {
    display: flex;
    max-width: 1146px;
    width: 100%;
    align-items: center;
  }
  .container__header-menu {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .a__header-link {
    font-size: 28px;
    margin-top: 30px;
    margin-right: 0;
    font-weight: 800;
  }
  .a__header-link {
    color: black !important;
  }
}
@media (max-width: 768px) {
  .container__button-hiden {
    height: 60px;
  }
  .button-size {
    width: 30px;
    height: 27px;
  }
  .header {
    z-index: 11;
    height: 140px;
    pointer-events: auto;
  }
  body {
    zoom: unset;
  }
}
@media (max-width: 375px) {
  .a__header-link {
    font-size: 26px;
  }
}
@media (max-width: 1300px) {
  .container__scroll {
    display: none;
  }
}
@media (max-width: 1020px) {
  .conteiner__slider {
    width: 100%;
  }
  .swiper-pagination {
    padding-right: 30px !important;
  }
}
@media (max-width: 900px) {
  .conteiner__slider {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .container__header {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: flex-start;
    height: 100vh;
  }
  .container__wraper-white {
    padding: 35px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .logo-white {
    width: 176px;
    height: 50px;
  }
  .logo-black {
    width: 176px;
    height: 50px;
  }
  .h2__slider {
    max-width: 630px;
    height: 150px;
    width: 100%;
    left: 0 !important;
    padding: 0;
  }
  .container-pagination {
    position: relative;
    /* max-width: 100% !important; */
    margin: 0 auto !important;
  }
  .swiper-pagination {
    width: 100% !important;
    position: absolute;
    bottom: 50px !important;
    left: 0% !important;
    justify-content: center !important;
  }
}
@media (max-width: 1200px) {
  .container__article {
    margin: 0;
    padding: 0;
  }
  .container__article .container__h3-item h3 {
    max-width: 100%;
    width: 100%;
    margin-bottom: 24px;
  }
  .container__article .container__h3-item p {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 1020px) {
  .container__baner {
    height: 100%;
  }
  .section__baner {
    height: 1300px;
    margin: 30px 0;
  }
  .container__banner-flex {
    flex-direction: column;
    height: 240px;
  }
  .h3__banner-color {
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    margin: 0;
  }
  .container__block-baner {
    flex-direction: column;
    justify-content: center;
  }
  .container__block-baner {
    align-items: center;
  }
  .container__items-baner {
    margin: 0 0 20px;
    max-width: 100% !important;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container__text {
    padding: 60px 15px !important;
  }
}
@media (max-width: 820px) {
  .section__carousel .container .container__titel-text {
    align-items: flex-start;
  }
  .section__carousel .container .h1 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .a__block-link {
    width: 100%;
    height: 100%;
    padding: 240px 56px 70px;
  }
}
@media (max-width: 425px) {
  .container__mySwiper3 {
    padding: 30px 0 !important;
  }
  .section__carousel .container {
    padding: 30px 15px;
  }
  .section__carousel .container .h1 {
    font-size: 28px;
  }
  .container__mySwiper3 {
    padding: 30px 0;
  }
  .conteiner__h5-position {
    position: absolute;
    bottom: 0;
    padding: 0 15px 10px;
  }
  .a__block-link {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .section__banner {
    padding: 30px 0;
  }
  .section__banner .container {
    width: 100%;
    height: 240px;
    justify-content: space-around;
  }
  .container-bg {
    flex-direction: column;
    padding: 15px;
    height: 240px;
  }
  .section__banner .container h3 {
    padding-right: 0;
  }
  .container__titel-text {
    flex-direction: column;
    align-items: flex-start;
  }
  .container__link-carousel {
    margin-top: 15px;
  }
  .swiper-slide {
    max-width: 100%;
    width: 100% !important;
  }
}
@media (max-width: 420px) {
  .section__sub-baner .container {
    padding: 0;
  }
  .section__sub-baner .container p {
    max-width: 836px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container__h3 {
    margin: 0 0 40px;
  }
  .container__article .container__h3-item {
    margin: 0 0 40px;
    padding: 0;
  }
}
@media (max-width: 420px) {
  .section__sub-baner {
    padding: 30px 15px !important;
  }
}
@media (max-width: 768px) {
  .container__footer {
    flex-direction: column;
    padding-top: 60px;
  }
  .nav__footer {
    padding-top: 30px;
  }
  .btn__scroll-top {
    display: none;
  }
}
@media (max-width: 600px) {
  .footer {
    height: 60px;
  }
  .container__nav-footer {
    padding-top: 60px;
  }
  .copy-pading {
    margin-top: 60px;
  }
}
@media (max-width: 1160px) {
  .container__baner-positon {
    padding-left: 0px !important;
  }
}
@media (max-width: 768px) {
  .container__banerlil-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .container__banerlil-items .container__baner-lil {
    max-width: 100% !important;
  }
  .container__banerlil-items .container__baner-lil:first-child {
    margin-right: 0px !important;
    margin-bottom: 10px;
  }
  .container__banerlil-items .container__baner-lil:last-child {
    margin-left: 0px !important;
  }
}
@media (max-width: 768px) {
  .section__title-sub .container {
    flex-direction: column;
  }
  .section__title-sub .container .container__span {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .section__title-sub .container .container__span .link__span-title {
    margin-bottom: 10px;
  }
  .section__title-sub .container .container__text-title .superlead {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 768px) {
  .container__baner-photo {
    flex-direction: column;
    align-items: center;
  }
  .img__uber {
    height: 70% !important;
    width: 70% !important;
    margin-bottom: 30px;
  }
  .img__uber:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 420px) {
  .button404 {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 990px) {
  .section__impressum .container {
    padding: 0;
  }
  .section__impressum .container h1 {
    padding-left: 15px;
  }
  .section__impressum .container .container__info {
    flex-direction: column;
    max-width: 100%;
  }
  .container__info-item {
    max-width: none !important;
    margin-right: 0;
    margin-bottom: 60px;
    padding: 40px 34px 40px 15px;
  }
}
@media (max-width: 990px) {
  .section__map-form {
    display: flex;
    flex-direction: column;
  }
  .section__map-form .container__info-map {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section__map-form .container__info-map .container__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section__map-form .container__info-map .container__info .block {
    text-align: left;
  }
  .section__map-form .container__info-map .container__info .block h2 {
    padding: 0 0 24px 0px;
  }
  .section__map-form .container__info-map .container__info .block .info {
    padding: 0;
  }
  .section__map-form .container__form {
    padding: 80px 15px 0 30px;
  }
  .section__map-form .container__form .form {
    display: flex;
    flex-direction: column;
    max-width: 860px;
    width: 100%;
  }
  .section__map-form .container__form .form span {
    width: 100% !important;
    max-width: 800px !important;
  }
  .section__map-form .container__form .form input {
    height: 79px;
    max-width: 800px !important;
    width: 100%;
    padding: 40px 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    opacity: 0.5;
    background: transparent !important;
    position: relative;
  }
  .section__map-form .container__form .form textarea {
    max-width: 800px;
  }
  .section__map-form .container__form .form .btn__form {
    max-width: 800px;
  }
  .kontakt footer {
    border: transparent;
  }
}/*# sourceMappingURL=media.css.map */